<div class="container mt-5">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/imgs/ash.jpg" alt="Ash pokémon">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Ash</h5>
          <p class="card-text" [ngStyle]="{'font-size.px':accesibilidad.font_size,'font-family':accesibilidad.font_p}">
            Ash Ketchum, conocido en Japón como Satoshi (サトシ?), es el protagonista de la serie de anime Pokémon. Mide
            1.65 m y pesa 54 kg.
            Es un entrenador Pokémon originario de Pueblo Paleta, de la región Kanto.
            Tiene un carácter perseverante, entusiasta y distraído, y su máxima ambición es llegar a ser el mejor
            Maestro Pokémon.
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

</div>