<div class="container">

  <div class="container mt-5">
    <div class="dropdown " id="drop">

      <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><img src="assets/imgs/accesibilidad.png" alt=""></button>
      <h1 [ngStyle]="{'font-size.px':accesibilidad.font_size+20,'font-family':accesibilidad.font_h}"> LOG IN</h1>

      <div class="dropdown-menu " aria-labelledby="dropdownMenuButton" style="background: #b4bdff;"
        (click)="accesibilidad.stop($event)">
        <a class="dropdown-item" (click)="accesibilidad.aumentarFont()">Aumentar texto
          <i class="icon-zoom-in"></i>
        </a>
        <a class="dropdown-item" (click)="accesibilidad.disminuirFont()">Disminuir texto
          <i class="icon-search-minus"></i>

        </a>
        <a class="dropdown-item" (click)="accesibilidad.escalaGris()">Escala de grises

          <i class="icon-contrast"></i>
        </a>
        <a class="dropdown-item" (click)="accesibilidad.cambiarFont()">Cambiar fuente

          <i class="icon-refresh"></i>
        </a>

      </div>
    </div>
    <hr size="20px" color="blue" width="40%">
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="login()">
        <div class="form-part">
          <label [ngStyle]="{'font-size.px':accesibilidad.font_size,'font-family':accesibilidad.font_p}"
            for="user">Usuario</label>
          <input [ngStyle]="{'font-size.px':accesibilidad.font_size,'font-family':accesibilidad.font_p}" type="text"
            id="user" formControlName="user">
        </div>
        <div class="form-part">
          <label [ngStyle]="{'font-size.px':accesibilidad.font_size,'font-family':accesibilidad.font_p}"
            for="pass">Contraseña</label>
          <input [ngStyle]="{'font-size.px':accesibilidad.font_size,'font-family':accesibilidad.font_p}" type="password"
            id="pass" formControlName="pass">
        </div>
        <div class="but">
          <button [ngStyle]="{'font-size.px':accesibilidad.font_size,'font-family':accesibilidad.font_p}"
            type="submit">Log in</button>
          <button [ngStyle]="{'font-size.px':accesibilidad.font_size,'font-family':accesibilidad.font_p}"
            type="reset">Limpiar</button>
        </div>

      </form>
    </div>


  </div>

</div>